@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
    --text-color: #333333;
    --shadow-color: rgba(19, 182, 255, 0.24);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-color: #0ABEAD;
    --secondary-color: #F57F17;
}

/* Reset */
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding-left: 0;
}

h2, h3, p{
    margin: 0;
}

/* -- App -- */
html {
    font-size: 10px;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Header Style */
.header {
    padding: 1rem 0;
    background-color: var(--section-bg-color);
    box-shadow: 0 3px 59px rgba(4, 195, 255, .16);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--primary-color);
    font-family: "Poppins Black";
    font-size: 6rem;
    margin: 0;
}

.menu {
    display: flex;
}

.menu__item {
    margin-right: 4rem;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    display: block;
    color: var(--text-color);
    font-family: "Poppins Medium";
    transition: color 150ms ease-in;
}
.menu__link:hover {
    color: var(--primary-color);
}

.menu__link--active {
    color: var(--primary-color);
}

.menu__toggle-icon {
    display: none;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.menu__toggle-line {
    position: relative;
    transition: all 100ms ease-in;
}

.menu__toggle-line,
.menu__toggle-line::before,
.menu__toggle-line::after {
    content: " ";
    width: 4.5rem;
    height: .4rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
}

.menu__toggle-line::before {
    position: absolute;
    bottom: 1rem;
    transition: all 150ms ease-in;
}

.menu__toggle-line::after {
    position: absolute;
    top: 1rem;
    transition: all 150ms ease-in;
}

.menu__toggle-icon--open .menu__toggle-line {
    background-color: transparent;
}

.menu__toggle-icon--open .menu__toggle-line::before {
    transform: translateY(1rem) rotate(45deg);

}

.menu__toggle-icon--open .menu__toggle-line::after {
    transform: translateY(-1rem) rotate(-45deg);

}