@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
    --text-color: #333333;
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-color: #0ABEAD;
    --secondary-color: #F57F17;
}

/* Reset */
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding-left: 0;
}

/* -- component-- */
.app-btn {
    width: 16rem;
    height: 5rem;
    font-family: "Poppins SemiBold";
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1.6rem 2.9rem rgba(11, 190, 173, 40%);
}

.app-btn--orange {
    background-color: var(--secondary-color);
    box-shadow: 0 1.6rem 2.8rem rgba(245, 137, 23, 24%);
}

/* -- Helper Classes -- */
.align-items-center {
    align-items: center;
}

/* -- App -- */
html {
    font-size: 10px;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--app-bg-color);
}

/* Header Style */
.header {
    padding: 1rem 0;
    background-color: var(--section-bg-color);
    box-shadow: 0 3px 59px rgba(4, 195, 255, .16);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--primary-color);
    font-family: "Poppins Black";
    font-size: 6rem;
    margin: 0;
}

.menu {
    display: flex;
}

.menu__item {
    margin-right: 4rem;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    display: block;
    color: var(--text-color);
    font-family: "Poppins Medium";
    transition: color 150ms ease-in;
}

.menu__link:hover {
    color: var(--primary-color);
}

.menu__link--active {
    color: var(--primary-color);
}

.menu__toggle-icon {
    display: none;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.menu__toggle-line {
    position: relative;
    transition: all 100ms ease-in;
}

.menu__toggle-line,
.menu__toggle-line::before,
.menu__toggle-line::after {
    content: " ";
    width: 4.5rem;
    height: .4rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
}

.menu__toggle-line::before {
    position: absolute;
    bottom: 1rem;
    transition: all 150ms ease-in;
}

.menu__toggle-line::after {
    position: absolute;
    top: 1rem;
    transition: all 150ms ease-in;
}

.menu__toggle-icon--open .menu__toggle-line {
    background-color: transparent;
}

.menu__toggle-icon--open .menu__toggle-line::before {
    transform: translateY(1rem) rotate(45deg);

}

.menu__toggle-icon--open .menu__toggle-line::after {
    transform: translateY(-1rem) rotate(-45deg);

}

/* -- Main -- */
.main {
    padding-top: 12rem;
}

/* -- Home Style -- */
.home {
    margin-top: 8rem;
}

.home__content {

}

.home__name {
    color: var(--primary-color);
    font-family: "Poppins SemiBold";
    font-size: 2rem;
    margin: 0;
}

.home__name span {
    color: var(--secondary-color);
}

.home__title {
    font-family: "Poppins Bold";
    font-size: 4rem;
    color: var(--primary-color);
    margin: 0;
}

.home__caption {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.home__links-wrapper {
    display: flex;
    gap: 3rem;
}

.home_link {
}

.home_link {

}

.home__photo {
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    background-image: url("../images/header-avatar.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    box-shadow: 0 0 5.9rem rgba(96, 233, 255, 27%);
    border: 2rem solid #fff;
}