@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .nav__logo {
        font-size: 5rem;
    }

    .menu__item {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu__toggle-icon {
        display: block;
    }
}

@media screen and (max-width: 576px) {

}